Flask==3.0.3
Flask-Bootstrap==3.3.7.1
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.29
Werkzeug==3.0.2
PyMySQL==1.1.0
gunicorn==22.0.0
numpy==1.26.4
opencv-contrib-python-headless==4.9.0.80
dlib-bin==19.24.6
mediapipe==0.10.11
matplotlib==3.8.4
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu
torchvision==0.17.2+cpu
ultralytics==8.2.0
Pillow==10.3.0
requests==2.31.0
