{% extends 'base.html' %}
{% block title %}Recapture Images{% endblock %}

{% block content %}

<h1>Edit Profile</h1>

<a href="/update/{{user.id}}" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#mymodal">Change
    Password</a>

<main>
    <section class="d-flex align-items-center my-5 mt-lg-6 mb-lg-5">
        <div class="container">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-650">
                    <div class="text-center text-md-center mb-4 mt-md-0">
                        <h1 class="mb-0 h3">User Image</h1>
                    </div>
                    <div class="card-body">
                        {% if images %}
                        <ul>
                            {% for image in images%}
                            <li>
                                <img src="{{ url_for('static', filename='images/known_images/' + image) }}">
                            </li>
                            {% endfor %}
                            <br>
                            <a href="/recaptureImage" class="btn btn-primary">Recapture Image</a>
                       
                        </ul>
                         {% else %}
                        <p>No images found for your username.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

  

</main>



<!-- Modal Add Employee-->
<div id="mymodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <form action="{{url_for('resetPassword')}}" method="POST">
                    <div class="form-group">
                        <label for="exampleInputIcon3">NEW PASSWORD</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                            </div>
                            <input name="p1" type="password" class="form-control" id="exampleInputIcon3"
                                placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group">
                            <label for="exampleInputPassword6">RE-ENTER PASSWORD</label>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><span class="fas fa-unlock-alt"></span></span>
                                </div>
                                <input name="p2" type="password" class="form-control" id="exampleInputPassword6"
                                    placeholder="Password" aria-label="Password" required>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Change Password</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% endblock %}