{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron p-3">
                <h2>Manage <b>Users </b> <button type="button" class="btn btn-outline-success float-end"
                        data-bs-toggle="modal" data-bs-target="#mymodal">Add New User</button> </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}

                {% for message in messages %}
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    {{message}}
                </div>
                {% endfor %}

                {% endif %}
                {% endwith %}

                <table class="table table-hover table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Reg Number</th>
                        <th> </th>

                    </tr>
                    {% for user in users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>
                            <a href="/update/{{user.id}}" class="btn btn-warning btn-sm" data-bs-toggle="modal"
                                data-bs-target="#modaledit{{user.id}}">Edit</a>
                            <a href="/deleteUsers/{{user.id}}" class="btn btn-danger btn-sm"
                                onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>

                <!-- Modal Add User-->
                <div id="mymodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Add User</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('createUsers')}}" method="POST">
                                    <div class="form-group">
                                        <label><b>User</b>:</label>
                                        <input type="text" class="form-control" name="userName" required="1">
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Add User</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                {% for user in users %}
                <!-- Modal Edit User-->
                <div id="modaledit{{user.id}}" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Update Users</h4>
                            </div>
                            <div class="modal-body">
                                <form action="{{url_for('updateUsers')}}" method="POST">
                                    <div class="form-group">
                                        <label>Question:</label>
                                        <input type="hidden" name="id" value="{{user.id}}">
                                        <input type="text" class="form-control" name="name"
                                            value="{{user.name}}">
                                    </div>
<br>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Update</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{%endblock%}