{% extends "proctorbase.html" %}

<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Proctoring{%endblock%}</title>

    <!-- Load Files -->



    {% block cssimports %}

    {% endblock %}

    <!-- Load Files -->



</head>

<body>
    {% block top_navigation %}
    <h1>Proctoring

    </h1>
    {% endblock %}

    {% block proctor %}
    <div>
        <img id="video-feed" src="{{ url_for('video') }}" alt="Video Feed" style="width: 250px;">
    </div>

    <ul>
        <li>Cheating: {{ data['cheat'] }}</li>
        <li>Lips Movement: {{ data['lips'] }}</li>
        <li>Direction: {{ data['direction'] }}</li>
        <li>Cellphone Usage: {{ data['cellphone'] }}</li>
        <li>Identity: {{ data['identity'] }}</li>
        <li>Liveness: {{ data['liveness'] }}</li>
        <li>live: {{li}}</li>
    </ul>

    {% endblock %}


    {% block content %}
    <div>
        <img id="video-feed" src="{{ url_for('video') }}" alt="Video Feed">
    </div> 

    <!-- Graph -->
    <div class="container-fluid">
        <!-- Example row of columns -->
        <div class="row">
            <div class="container-fluid" id="data-container"></div>
            <div class="container-fluid" id="data-container2"></div>
        </div>
    </div>

    <!-- <div class="ct-chart ct-perfect-fourth"></div> -->

    {% endblock %}

    {% block jsimports %}



    <!-- JQuery links  -->
    <script src="../static/js/jquery.min.js"></script>

    <!--High CHART LIVE  -->
    <script src="../static/js/highcharts.js"></script>
    


    
    
    <script>
        var chart1, chart2;
    
        function requestData1() {
            // Ajax call to get the Data from Flask
            var requests = $.get('/humidity');
    
            // request is complete
            var tm = requests.done(function(result) {
    
                console.log("TEMPERATURE", result.temperature);
                var series = chart1.series[0],
                    shift = series.data.length > 20;
    
                // add the point
                chart1.series[0].addPoint(result, true, shift);
    
                // call it again after one second
                setTimeout(requestData1, 2000);
    
            });
        }
    
        function requestData2() {
            // Ajax call to get the Data from Flask
            var requests = $.get('/humidity');
    
            // request is complete
            var tm = requests.done(function(result) {
    
                console.log("TEMPERATURE", result.temperature);
                var series = chart2.series[0],
                    shift = series.data.length > 20;
    
                // add the point
                chart2.series[0].addPoint(result, true, shift);
    
                // call it again after one second
                setTimeout(requestData2, 2000);
    
            });
        }
    

        $(document).ready(function() {
            chart1 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData1
                    }
                },
                title: {
                    text: 'Head Pose Estimation'
                },
                // Tweak this value for graph optimization
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    name: 'Current Time',
                    data: []
                }]
            });
    
            chart2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'data-container2',
                    defaultSeriesType: 'spline',
                    events: {
                        load: requestData2
                    }
                },
                title: {
                    text: 'Head Pose Estimation (Duplicate)'
                },
                // Tweak this value for graph optimization
                xAxis: {
                    type: 'datetime',
                    tickPixelInterval: 150,
                    maxZoom: 20 * 1000
                },
                yAxis: {
                    minPadding: 0.2,
                    maxPadding: 0.2,
                    title: {
                        text: 'Value',
                        margin: 80
                    }
                },
                series: [{
                    name: 'Current Time',
                    data: []
                }]
            });

        });
    
    </script>
    



    {% endblock %}

</body>

</html>